<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <title>Home</title>
</head>
<body>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Logout</a>
        </div>

        <div>
            <a th:href="@{/index}">Back</a>
        </div>
<div>
    <div class="container main-content">
        <div class="row">
            <div class="col-7">
                <h3>Customer Details</h3>
            </div>
        </div>
        <table id="table" class="table table-striped table-sm">
            <thead>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            </thead>
            <tbody>
            <tr th:each="customerDetail : ${customerDetails}">
                <th scope="row" th:text="${customerDetail.id}"></th>
                <td th:text="${customerDetail.username}"></td>
                <td th:text="${customerDetail.firstName}"></td>
                <td th:text="${customerDetail.lastName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
</div>
</body>
</html>