<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>Edit Book</title>
</head>
<body>

<div sec:authorize="isAuthenticated()">
  <a th:href="@{/logout}">Logout</a>
</div>

<div>
  <a th:href="@{/index}">Back</a>
</div>

<div align="center">
  <h1>Edit Book</h1>
  <br />
  <form action="#" th:action="@{/save}" th:object="${bookDTO}"
        method="post">

    <table border="0" cellpadding="10">
      <tr>
        <td>Book ISBN:</td>
        <td>
          <input type="text" th:field="*{isbn}" readonly="readonly" />
        </td>
      </tr>
      <tr>
        <td>Book Title:</td>
        <td><input type="text" th:field="*{title}" /></td>
      </tr>
      <tr>
        <td>Author:</td>
        <td><input type="text" th:field="*{author}" /></td>
      </tr>
      <tr>
        <td>Stock copies:</td>
        <td><input type="text" th:field="*{stockCopies}" /></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Save</button> </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>